<h1>Registered Devices</h1>
<table class='table table-striped' *ngIf="devices">
  <thead>
    <tr>
      <th>Device Type</th>
      <th>Serial Number</th>
      <th>Firmware Version</th>
      <th>State</th>
      <th>IP</th>
      <th>Port</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices">
      <td>{{ device.type }}</td>
      <td>{{ device.serialNumber }}</td>
      <td>{{ device.firmwareVersion }}</td>
      <td>{{ device.state == 0 ? 'Out of Service' : device.state == 1 ? 'In use' : '' }}</td>
      <td>{{ device.ip }}</td>
      <td>{{ device.port }}</td>
    </tr>
  </tbody>
</table>
